@import url(font-awesome.min.css);
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
* {
    
    font-size: 16px;
    font-family: Helvetica, Arial sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}
li{
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
button{
    margin: 0;
    padding: 0;
    border: none;
    background-color: none;
}

.container{
    margin-top:65px;
    padding:1rem 0.5rem;
    background-color: #dadada;
    min-height:calc(100vh - 65px);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0.5rem;
    background-color: #339DFF;
    box-shadow:0px 2px 2px 1px rgba(0, 0, 0, 0.2) ;
    position: fixed;
    top:0;
    z-index: 100;
}

.title{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.logout-section{
    display: none;
    background-color: rgb(213, 0, 0);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    color: white;
}
.logout-lnk{
    display: block;
}

.filter-btn-section{
    background-color: #999999;
    width: 100%;
    height: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-around ;
}
.filter-div{
width:100%;
}
.filter-section{
    display :none;
    position: absolute;
    z-index: 50;
    width: 100vw;
    height: 100%;
    padding: 3rem;
    background-color: #999999;
}

.filter-btn{

    width:100%;
    height: 100%;
    text-align: center;
}

.course-list{
    display: flex;
    flex-direction:column;
    gap: 0.5rem;
}

.course {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #999999;
    padding: 1rem;
    height: 12rem;
    background-color: whitesmoke;
    box-shadow:2px 2px rgba(0, 0, 0, 0.241);
    position: relative;
}

.course-name{
    font-size: 2rem;
    font-weight: 700;
}

.course-description{
    font-weight: 700;
    color: #1e1e1e;
}
.course-date{
    position: absolute;
    bottom:0.25rem;
    right:1rem;
}

.theme-list{
    position: absolute;
    bottom: 1rem;
    display: flex;
    gap:0.25rem
}
.theme{
    padding:0.5rem ;
    border-radius: 5rem;
    color: white;
}

.theme.javacript{
    background-color: yellow;
}
.theme.php{
    background-color: rgb(165, 0, 177);
}
.theme.SQL{
    background-color: rgb(8, 95, 166);
}

.edit-link{
    position: absolute;
    right:1rem;
    
}
.add-button{
    display: block;
    position: fixed;
    bottom: 1rem;
    right:1rem;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    font-weight:700 ;
    background-color: #339DFF;
}
.add-button:hover{
    color: #339DFF;
    background-color: white;
}

@media screen and (min-width:764px){
    .container{
        display: grid;
        grid-template-columns:25% 75%;
        padding:2rem 3rem;
    }
    .course-list{
        grid-column: 2/3;    
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        gap:1rem;
        padding:0 1rem;
        
    }
    .course{
        width:300px ;
        
    }
    .filter-btn-section{
        display: none;
    }
    .filter-section{
        grid-column: 1/2;
        display: block;
        position: sticky;
        width:100%;
    }
}

/* form */
.form-area{
    height: 100%;
    padding:1rem;
    background-color:#339DFF ;
    border-radius: 1rem;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form-itm{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    border-radius: 2rem;
    width:100%;
}
.form-itm.new-theme{
    flex-direction: row;
    width:100%;
}
.input{
    color: black;
}

